<h3>Expenses for <%= @month_names.fetch(@month-1) %></h3>
<hr />
<p>Total Budget: £ <%= '%.2f' % @total_budget.round(2) %></p>
<p>Total Outgoings: £ <%= '%.2f' % @outgoings.round(2)%></p>
<p>Total Budget Left: £ <%= '%.2f' % @budget_left.round(2) %></p>

<p class="btn--wrapper">
  <a class="btn btn--add" href="/expenses/new">Add new category</a>
</p>
<hr />

<form action="/expenses/filtered" method="GET">
  <label for="filter-by">Month Filter</label>
  <select name="month" id="filter-by">
    <% for month in @month_names %>
    <option value="<%= @month_names.index(month)+1 %>"><%= month %></option>
    <% end %>
  </select>
  <input type="submit" value="Filter">
</form>

<hr />

<table>
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col" colspan=3>Monthly</th>
      <th scope="col" colspan=3></th>
    </tr>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Budget</th>
      <th scope="col">Spent</th>
      <th scope="col">Left</th>
      <th scope="col" colspan=3>Action</th>
    </tr>
  </thead>

  <tbody>
    <% for expense in @expenses %>
    <tr>
      <!-- show category name and budget -->
      <td><%= expense.name %></td>
      <td>£ <%= '%.2f' % expense.budget %></td>
      <td>£ <%= '%.2f' % expense.total_out(@month) %></td>
      <td>£ <%= '%.2f' % expense.budget_left(@month) %></td>
      <!-- link to show spend -->
      <td><a href="/expenses/<%= expense.id %>">Show</a></td>
      <!-- link to edit expense category -->
      <td><a href="/expenses/<%= expense.id %>/edit">Edit</a></td>

      <!-- button to delete expense category -->
      <td>
        <form action="/expenses/<%= expense.id %>/delete" method="POST">
          <input type="submit" value="Delete">
        </form>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
