<h3>Expenses</h3>

<hr />
<p><a href="/expenses/new">Add new expense category</a></p>
<hr />

<table>
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Budget</th>
      <th scope="col">Spent</th>
      <th scope="col">Left</th>
      <th scope="col" colspan=3>Action</th>
    </tr>
  </thead>

  <tbody>
    <% for expense in @expenses %>
    <tr>
      <!-- show category name and budget -->
      <td><%= expense.name %></td>
      <td><%= '%.2f' % expense.budget %></td>
      <td><%= '%.2f' % expense.total_out %></td>
      <td><%= '%.2f' % expense.budget_left() %></td>
      <!-- link to show spend -->
      <td><a href="/expenses/<%= expense.id %>">Show</a></td>
      <!-- link to edit expense category -->
      <td><a href="/expenses/<%= expense.id %>/edit">Edit</a></td>

      <!-- button to delete expense category -->
      <td>
        <form action="/expenses/<%= expense.id %>/delete" method="POST">
          <input type="submit" value="Delete">
        </form>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
