<h3>Spend on: <%= @expense.name %></h3>

<div class="grid">
  <div class="grid-row grid-row-sm">
    <p class="info">Budget:<br> £ <%= '%.2f' % @expense.budget %></p>
    <p class="info">Spent:<br> £ <%= '%.2f' % @expense.total_out(@month)%></p>
    <p class="info">Left:<br> £ <%= '%.2f' % @expense.budget_left(@month) %></p>
  </div>
</div>

<table>
  <thead>
    <tr>
      <th scope="col">Date</th>
      <th scope="col">Amount</th>
      <th scope="col">Description</th>
      <th scope="col">Merchant</th>
    </tr>
  </thead>
  <tbody>
    <% for expense in @expense.monthly_transactions(@month) %>
    <tr>
      <td> <%= expense.transaction_date %></td>
      <td> <%= '%.2f' % expense.amount %></td>
      <td> <%= expense.transaction_desc %></td>
      <td> <%= expense.merchant.name %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<p class="btn--wrapper">
  <a class="btn btn--back" href="/expenses">Budget List</a>
</p>
