<h3>Merchants</h3>

<hr />
<p><a href="/merchants/new">Add new merchant</a></p>
<hr />

<% for merchant in @merchants %>
  <p>Merchant Name: <%= merchant.name() %></p>
  <p>Default tag: <%= merchant.tag() %></p>

  <p><a href="/merchants/<%= merchant.id %>">Show spend</a></p>

  <p><a href="/merchants/<%= merchant.id %>/edit">Edit Merchant</a></p>

  <form action="/merchants/<%= merchant.id %>/delete" method="POST">
    <input type="submit" value="Delete Merchant">
  </form>

  <hr />
<% end %>
