<h3>Merchants</h3>


<p class="btn--wrapper">
  <a class="btn btn--add" href="/merchants/new">Add new merchant</a>
</p>
<hr />

<table>
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Default Category</th>
      <th scope="col">Spent</th>
      <th scope="col" colspan=3>Action</th>
    </tr>
  </thead>

  <tbody>
    <% for merchant in @merchants %>
    <tr>
      <td><%= merchant.name() %></td>
      <td><%= merchant.tag() %></td>
      <td>£ <%= '%.2f' % merchant.total_out() %></td>

      <td>
        <a class="btn--show" href="/merchants/<%= merchant.id %>">Show</a>
      </td>

      <td>
        <a class="btn--edit" href="/merchants/<%= merchant.id %>/edit">Edit</a>
      </td>

      <td>
        <form action="/merchants/<%= merchant.id %>/delete" method="POST">
          <input class="btn--delete" type="submit" value="Delete">
        </form>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
