<h1>Bank Accounts</h1>

<p class="info" >Total Closing Balance: £ <%= '%.2f' % Bank.total_closing_balance() %></p>

<p class="btn--wrapper">
  <a class="btn btn--add" href="/banks/new">Add new account</a>
</p>

<table>
  <thead>
    <tr>
      <td scope="col">Account Name</td>
      <td scope="col">Opening Balance</td>
      <td scope="col">Outgoings</td>
      <td scope="col">Closing</td>
      <td scope="col" colspan=3>Action</td>
    </tr>
  </thead>

  <tbody>
    <% for bank in @banks %>
    <tr>
      <td><%= bank.name() %></td>
      <td>£ <%= '%.2f' % bank.balance() %></td>
      <td>£ <%= '%.2f' % bank.total_out() %></td>
      <td>£ <%= '%.2f' % bank.closing_balance() %></td>

      <td>
        <a class="btn--show" href="/banks/<%= bank.id %>">Show</a>
      </td>

      <td>
        <a class="btn--edit" href="/banks/<%= bank.id %>/edit">Edit</a>
      </td>

      <td>
        <form action="/banks/<%= bank.id %>/delete" method="POST">
          <input class="btn--delete" type="submit" value="Delete" onclick="return confirm ('Are you sure you want to delete?');">
        </form>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
