<h3>Bank Accounts</h3>


<p class="btn--wrapper">
  <a class="btn btn--add" href="/banks/new">Add new account</a>
</p>


<table>
  <thead>
    <tr>
      <td scope="col">Account Name</td>
      <td scope="col">Opening Balance</td>
      <td scope="col">Outgoings</td>
      <td scope="col">Closing</td>
      <td scope="col" colspan=3>Action</td>
    </tr>
  </thead>

  <tbody>
    <% for bank in @banks %>
    <tr>
      <td><%= bank.name() %></td>
      <td>£ <%= '%.2f' % bank.balance() %></td>
      <td>£ <%= '%.2f' % bank.total_out() %></td>
      <td>£ <%= '%.2f' % bank.closing_balance() %></td>

      <td><a href="/banks/<%= bank.id %>">Show</a></td>

      <td><a href="/banks/<%= bank.id %>/edit">Edit</a></td>
      <td>
        <form action="/banks/<%= bank.id %>/delete" method="POST">
          <input type="submit" value="Delete">
        </form>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
