<h3>Bank account: <%= @bank.name %></h3>

<div class="grid">
  <div class="grid-row grid-row-sm">
      <p class="info">Account number: <br><%= @bank.account_number %></p>
      <p class="info">Account type: <br><%= @bank.type %></p>
      <p class="info">Closing Balance: <br>£ <%= '%.2f' % @bank.closing_balance %></p>
  </div>
</div>

<table>
  <thead>
    <tr>
      <th scope="col">Date</th>
      <th scope="col">Amount</th>
      <th scope="col">Description</th>
      <th scope="col">Merchant</th>
      <th scope="col">Category</th>
    </tr>
  </thead>
  <tbody>
    <% for bank in @bank.transactions() %>
    <tr>
      <td> <%= bank.transaction_date %></td>
      <td> <%= '%.2f' % bank.amount %></td>
      <td> <%= bank.transaction_desc %></td>
      <td> <%= bank.merchant.name %></td>
      <td> <%= bank.expense.name %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<p class="btn--wrapper">
  <a class="btn btn--back" href="/banks">Account List</a>
</p>
