<h1>Transactions</h1>

<div class="grid">
  <div class="grid-row grid-row-sm">
    <p class="info">Total outgoings: £ <%= '%.2f' % @outgoings.round(2) %></p>
  </div>
</div>

<div class="grid">
  <div class="grid-row grid-row-sm">
    <p class="btn--wrapper">
      <a class="btn btn--add" href="/transactions/new">Add transaction</a>
    </p>
    <p class="btn--wrapper">
      <a class="btn btn--view" href="/expenses">Expense Filter</a>
    </p>
    <p class="btn--wrapper">
      <a class="btn btn--view" href="/merchants">Merchant Filter</a>
    </p>
  </div>
</div>

<div class="grid">
  <div class="grid-row grid-row-sm">

    <form action="/transactions/sorted" method="GET">
      <label for="sort-by">Sort By:</label>
      <select name="sorter" id="sort-by">
        <% for chooser in @choosers %>
        <option value="<%= chooser %>"><%= chooser %></option>
        <% end %>
      </select>
      <input class="btn--sort" type="submit" value="Sort">
    </form>

    <form action="/transactions/filtered" method="GET">
      <label for="filter-by">Month Filter</label>
      <select name="month" id="filter-by">
        <% for month in @month_names %>
        <option value="<%= @month_names.index(month)+1 %>"><%= month %></option>
        <% end %>
      </select>
      <input class="btn--filter" type="submit" value="Filter">
    </form>

    <p>
      <a class="btn--reset" href="/transactions">Reset</a>
    </p>
  </div>
</div>

<table>
  <thead>
    <tr>
      <th scope="col">Date</th>
      <th scope="col">Amount</th>
      <th scope="col">Merchant</th>
      <th scope="col">Category</th>
      <th scope="col" colspan=3>Action</th>
    </tr>
  </thead>
  <tbody>

    <% for transaction in @transactions %>
    <tr>
      <td><%= transaction.transaction_date %></td>
      <td>£ <%= '%.2f' % transaction.amount %></td>
      <td><%= transaction.merchant.name %></td>
      <td><%= transaction.expense.name %></td>

      <td>
        <a class="btn--show" href="/transactions/<%= transaction.id %>">Show</a>
      </td>

      <td>
        <a class="btn--edit" href="/transactions/<%= transaction.id %>/edit">Edit</a>
      </td>

      <td>
        <form action="/transactions/<%= transaction.id %>/delete" method="POST">
          <input class="btn--delete" type="submit" value="Delete" onclick="return confirm ('Are you sure you want to delete?');">
        </form>
      </td>
    </tr>

    <% end %>
  </tbody>
</table>
