<h3>Transactions</h3>
<hr />
<p>Total outgoings: £ <%= '%.2f' % @outgoings.round(2) %></p>
<hr />
<p><a href="/transactions/new">Add transaction</a></p>
<p><a href="">Filter transactions</a></p>

<form action="/transactions/sorted" method="GET">
  <label for="sort-by">Sort By:</label>
    <select name="sorter" id="sort-by">
      <!-- <option value="merchant">Merchant</option>
      <option value="expense">Expense</option>
      <option value="date">Date</option>
      <option value="amount_ascending">Amount Ascending</option>
      <option value="amount_descending">Amount Descending</option> -->
      <% for sorter in @sorters %>
        <option value="<%= sorter %>"><%= sorter %></option>
       <% end %>
    </select>
  <input type="submit" value="Sort">
</form>


<hr />
<table>
  <thead>
    <tr>
      <th scope="col">Date</th>
      <th scope="col">Amount</th>
      <th scope="col">Merchant</th>
      <th scope="col">Category</th>
      <th scope="col" colspan=3>Action</th>
    </tr>
  </thead>
  <tbody>

<% for transaction in @transactions %>
<tr>
  <td><%= transaction.transaction_date %></td>
  <td><%= '%.2f' % transaction.amount %></td>
  <td><%= transaction.merchant.name %></td>
  <td><%= transaction.expense.name %></td>

  <td><a href="/transactions/<%= transaction.id %>">Show</a></td>

  <td><a href="/transactions/<%= transaction.id %>/edit">Edit</a></td>

  <td>
    <form action="/transactions/<%= transaction.id %>/delete" method="POST">
      <input type="submit" value="Delete">
    </form>
  </td>
</tr>

<% end %>
  </tbody>
</table>
