<h3>Full details:</h3>
<hr />
<div class="info">
  <p>Account: <%= @transaction.bank.name %></p>
  <p>Date: <%= @transaction.transaction_date %></p>
  <p>Amount: £ <%= '%.2f' % @transaction.amount %></p>
  <p>Merchant: <%= @transaction.merchant.name %></p>
  <p>Desc: <%= @transaction.transaction_desc %></p>
  <p>Category: <%= @transaction.expense.name %></p>
</div>
<hr />
<p class="btn--wrapper">
  <a class="btn btn--back" href="/transactions">Transaction List</a>
</p>
